@charset 'UTF-8';


@font-face {
    font-family: android;
    src: url(../font/IDroid.otf);
}

@font-face {
    font-family: circuito;
    src: url(../font/chintzy.ttf);
}

*{
    margin: 0;
    padding: 0;
}

:root { 

    --cor1:#127369;
    --cor2:#10403B;
    --cor3:#8AA6A3;
    --cor4:#4C5958;
    --cor5:#BFBFBF; } 


body{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 100px;
    background-color:  rgba(0, 0, 0, 0.89);
    
}

